<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>快速入门</string>
		<key>function</key>
		<array>
			<dict>
				<key>functionName</key>
				<string>文件上传</string>
				<key>functionVCName</key>
				<string>QN_UploadFileWithoutKey</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>资源上传</string>
				<key>functionVCName</key>
				<string>uploadAlassetImage</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>资源上传(PHAsset)iOS8之后支持，之前崩溃</string>
				<key>functionVCName</key>
				<string>QN_PHAssetVC</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>livephoto上传iOS9.1之后，之前崩溃</string>
				<key>functionVCName</key>
				<string>QN_LivePhotoVC</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>常规上传</string>
		<key>function</key>
		<array>
			<dict>
				<key>functionName</key>
				<string>无key文件上传</string>
				<key>functionVCName</key>
				<string>QN_UploadFileWithoutKey</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>有key文件上传</string>
				<key>functionVCName</key>
				<string>QN_UploadFileWithKey</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>使用扩展参数</string>
				<key>functionVCName</key>
				<string>QN_uploadFileWithParams</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>文件同名（Key相同）覆盖上传</string>
				<key>functionVCName</key>
				<string>QN_uploadWithSameKeyVC</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>指定上传文件的MineType</string>
				<key>functionVCName</key>
				<string>QN_uploadFileWithMimetype</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>启用上传文件的CRC32内容校验</string>
				<key>functionVCName</key>
				<string>QN_UploadFileWithCRC32</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>https文件上传</string>
				<key>functionVCName</key>
				<string>QN_UploadHttps</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>高级上传</string>
		<key>function</key>
		<array>
			<dict>
				<key>functionName</key>
				<string>有Key大文件断点续传</string>
				<key>functionVCName</key>
				<string>BreakPointVC</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>系统拍摄</string>
		<key>function</key>
		<array>
			<dict>
				<key>functionName</key>
				<string>照片拍摄</string>
				<key>functionVCName</key>
				<string>QN_uploadTakePhoto</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>视频拍摄</string>
				<key>functionVCName</key>
				<string>QN_uploadTakeVideoVC</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>播放视频</string>
		<key>function</key>
		<array>
			<dict>
				<key>functionName</key>
				<string>在线视频播放</string>
				<key>functionVCName</key>
				<string>QN_PlayVideoVC</string>
			</dict>
			<dict>
				<key>functionName</key>
				<string>本地视频播放</string>
				<key>functionVCName</key>
				<string>QN_PlayLocalVideoVC</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
